<?xml version="1.0"?>
<Configuration>
<Appenders>
<!-- /var/log/csye6225/errors.log -->
    <File name="WebAppErrors" fileName="D:\Northeastern\Courses\cloud\errors.log">
        <JSONLayout compact="true" eventEol="true"/>
        <BurstFilter level="ERROR" rate="2" maxBurst="10"/>
    </File>
    <Async name="AsyncAppender" bufferSize="80">
        <AppenderRef ref="WebAppErrors"/>
    </Async>
    <!-- /var/log/csye6225/info.log -->
    <File name="WebAppInfo" fileName="D:\Northeastern\Courses\cloud\info.log">
        <JSONLayout compact="true" eventEol="true"/>
        <BurstFilter level="INFO" rate="2" maxBurst="10"/>
    </File>
    <Async name="InfoAsyncAppender" bufferSize="80">
        <AppenderRef ref="WebAppInfo"/>
    </Async>
</Appenders>

<Loggers>
    <Logger name="WEBAPP_LOGGER" level="ERROR"
          additivity="false">
        <AppenderRef ref="AsyncAppender" />
    </Logger>
    <Logger name="WEBAPP_LOGGER_INFO" level="INFO"
          additivity="false">
        <AppenderRef ref="InfoAsyncAppender" />
    </Logger>
</Loggers>
</Configuration>